source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json


nuget FAKE             
nuget Paket.Core       
nuget SourceLink.Fake  
nuget Mono.Cecil       